asgiref @ file:///C:/b/abs_ae1n0p_8_w/croot/asgiref_1724072476516/work
certifi==2025.1.31
charset-normalizer==3.4.1
Django @ file:///C:/b/abs_d8jy6px5xv/croot/django_1731616483677/work
djangorestframework==3.15.2
gunicorn==23.0.0
idna==3.10
mysqlclient==2.2.7
packaging==24.2
pillow==11.1.0
python-http-client==3.3.7
requests==2.32.3
sendgrid==6.11.0
setuptools==75.1.0
sqlparse @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/sqlparse_1699544474746/work
starkbank-ecdsa==2.2.0
urllib3==2.4.0
wheel==0.44.0
whitenoise==6.9.0
